<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>Cyclone</display-name>
  <welcome-file-list>
    <welcome-file>welcome</welcome-file>
  </welcome-file-list>
  
  <!-- Servlet declarations -->
  <servlet>
    <servlet-name>AuthenticationServlet</servlet-name>
    <servlet-class>com.cyclone.Controller.AuthenticationServlet</servlet-class>
  </servlet>
  
  <servlet>
  	<servlet-name>UserServlet</servlet-name>
    <servlet-class>com.cyclone.Controller.UserServlet</servlet-class>
  </servlet>
  
    <servlet>
    <servlet-name>ProductServlet</servlet-name>
    <servlet-class>com.cyclone.Controller.ProductServlet</servlet-class>
  </servlet>
  <!-- Servlet mappings -->
  <servlet-mapping>
    <servlet-name>AuthenticationServlet</servlet-name>
    <url-pattern>/auth</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>ProductServlet</servlet-name>
    <url-pattern>/Product</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/user</url-pattern>
  </servlet-mapping>


 <servlet>
        <servlet-name>OrderServlet</servlet-name>
        <servlet-class>com.cyclone.Controller.OrderServlet</servlet-class> 
    </servlet>

    <servlet-mapping>
        <servlet-name>OrderServlet</servlet-name>
        <url-pattern>/orders</url-pattern>
    </servlet-mapping>
</web-app>